---
layout: default
page: '02'
---
<!-- <html>... -->
<body style="background-image: url('media/bg-about-us.png')" id="about-body">
  <div class="wrap-container">
    {% include navbar.html %}
    <div class="main-container">
      {% include header.html %}
      <div class="content-container body-opasity">

        <div class="about">
          <a class="about-carousel-prev-col" href="#aboutCarousel" data-slide="prev">
            <img title="prev" class="" src="media/arrow-left.svg"/>
          </a>

          <div class="about-col-1">
            {% for i in (1..4) %}
              {% assign h = "h1-" | append: i %}
              {% assign p = "p-1-" | append: i %}
              <div class="text text-{{i}}">
                <b>{{ site.data.location.en.about[h] }}</b>
                {{ site.data.location.en.about[p] }}
              </div>
            {% endfor %}
            <button class="contact-us-button about-contact-us-btn" onclick="location.href='contact-us.html'">{{ site.data.location.en.contact_us_btn }}</button>
          </div>

          <div id="aboutCarousel" class="carousel slide about-col-2" data-ride="carousel">
            <div class="carousel-inner">

              <svg id="about-line-animation" viewBox="0 0 679 460" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 0C4.47715 0 0 4.47715 0 10V450C0 455.523 4.47715 460 10 460H668C673.523 460 678 455.523 678 450V10C678 4.47715 673.523 0 668 0H10Z"/>
              </svg>

              {% for i in (1..4) %}
                <div class="carousel-item {% if forloop.index == 1 %}active{% endif %}"><img class="slide" src="../media/about-us-image-{{i}}.png"></div>
              {% endfor %}
            </div>
            <div class="about-btns">
              <a class="about-carousel-control-prev-btn carousel-control-prev-btn" href="#aboutCarousel" data-slide="prev">
                <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.0911 12.7273L14.3184 17.5L19.0911 22.2727" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <circle cx="17.5" cy="17.5" r="16.5" stroke="#E1A200" stroke-width="2"/>
                </svg>
              </a>
              <div class="carousel-indicators">
                {% for i in (1..4) %}
                  <div data-target="#aboutCarousel" data-slide-to="{{i | minus:1}}"
                      class="indicator-{{i}} {% if forloop.index == 1 %}active{% endif %}">{{i}}</div>
                {% endfor %}
              </div>
              <a class="about-carousel-control-next-btn carousel-control-next-btn" href="#aboutCarousel" role="button" data-slide="next">
                <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.0911 12.7273L14.3184 17.5L19.0911 22.2727" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <circle cx="17.5" cy="17.5" r="16.5" stroke="#E1A200" stroke-width="2"/>
                </svg>
              </a>
            </div>
          </div>

          <a class="about-carousel-next-col" href="#aboutCarousel" data-slide="next">
            <img title="prev" class="" src="media/arrow-left.svg"/>
          </a>
        </div>

      </div>
    </div>
  </div>
</body>
