---
layout: default
title: Libido Software - Adult Website Development & Promotion 
page: '07'
---
<!-- <html>... -->
<body style="background-image: url('media/bg-contact-us.png')" id="contact-us-body">
  <div class="wrap-container body-opasity">   
    {% include navbar.html %}
    <div class="main-container">
      {% include header.html %}
      <div class="content-container">

        <div class="contact-us">
          <div class="contact-us-col-1">
            <div class="contact-us-block">
              <div class="contact-us-title">{{ site.data.location.en.contact_us_btn }}</div>
              <form action="https://formspree.io/contact@libidosoft.com" method="POST">
                <label class="contact-us-label" for="name">{{ site.data.location.en.contact_us.name }}</label>
                <input class="contact-us-input" autocomplete="off" type="text" name="name" required placeholder="{{ site.data.location.en.contact_us.name_plc }}"><br>
                <label class="contact-us-label" for="email">{{ site.data.location.en.contact_us.email }}</label>
                <input class="contact-us-input" autocomplete="off" type="email" name="email" required pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$" placeholder="{{ site.data.location.en.contact_us.email_plc }}"><br>
                <label class="contact-us-label" for="message">{{ site.data.location.en.contact_us.message }}</label>
                <textarea class="contact-us-input message" autocomplete="off" type="text" name="message" required placeholder="{{ site.data.location.en.contact_us.message_plc2 }}"></textarea><br>
                <input class="contact-us-send-btn" type="submit" value="{{ site.data.location.en.contact_us.send }}">
                <hr class="contact-us-line-1"/>
              </form>
            </div>
          </div>

          <div class="contact-us-col-2">
            <div class="contact-us-freud-quote">{{ site.data.location.en.contact_us.h2 }}
            <hr class="contact-us-line"/></div>  
            {{ site.data.location.en.contact_us.comunicate_with_us }}<br>
            <div class="contact-us-opacity">
              {{ site.data.location.en.contact_us.phone }}<br>
              {{ site.data.location.en.contact_us.whatsapp }}<br>
              {{ site.data.location.en.contact_us.telegram }}<br>
              {{ site.data.location.en.contact_us.skype }}<br>
              {{ site.data.location.en.contact_us.our_email }}<br>              
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
