---
layout: default
title: soft - contact us
page: '06'
---
<!-- <html>... -->
<body style="background-image: url('media/bg-contact-us.png')">
  <div class="body-opasity">
    {% include header.html %}
    {% include navbar.html %}
    <div class="container-fluid">
      <div class="row align-items-center contact-us-row">
        <div class="col-2"></div>
        <div class="col-4">
          <div class="contact-us-div">
            <div class="contact-us-title">{{ site.data.location.en.contact_us_btn }}</div>
            <form action="#">
              <label class="contact-us-label" for="name">{{ site.data.location.en.contact_us.name }}</label>
              <input class="contact-us-input" type="text" name="name" placeholder="{{ site.data.location.en.contact_us.name_plc }}"><br>
              <label class="contact-us-label" for="email">{{ site.data.location.en.contact_us.email }}</label>
              <input class="contact-us-input" type="email" name="email" placeholder="{{ site.data.location.en.contact_us.email_plc }}"><br>
              <label class="contact-us-label" for="email2">{{ site.data.location.en.contact_us.email }}</label>
              <textarea class="contact-us-input email2" type="email" name="email2" placeholder="{{ site.data.location.en.contact_us.email_plc2 }}"></textarea><br>
              <input class="contact-us-send-btn" type="submit" value="{{ site.data.location.en.contact_us.send }}"">
            </form>
          </div>
        </div>
        <div class="col-5">
          <div class="contact-us-div2">
            {{ site.data.location.en.contact_us.h2 }}
            <hr class="contact-us-line"/>            
            {{ site.data.location.en.contact_us.comunicate_with_us }}<br>
            {{ site.data.location.en.contact_us.phone }}<br>
            {{ site.data.location.en.contact_us.skype }}<br>
            {{ site.data.location.en.contact_us.our_email }}<br>
            {{ site.data.location.en.contact_us.follow_us }}<br>
            {% include social.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>