---
layout: default
title: soft - Home
page: '01'
en:  
  contact_us: Contact us
  navbar:
    home: Home
    about: About
    services: Services
    solutions: Solutions
    approach: Approach
---
<!-- <html>... -->
{% include header.html %}
{% include navbar.html %}
<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<content class="col-5">
			<h1>Welcome to <br><b>Libido Software</b></h1>
       <button class="main-header-contact-us-button">{{ page.en.contact_us }}</button>
		</content>
	</div>
</div>
