---
layout: default
page: '04'
---
<!-- <html>... -->
<body id="portfolio-body" style="background-image: url('media/bg-services.png')">
  <div class="wrap-container body-opasity">   
    {% include navbar.html %}
    <div class="main-container">
      {% include header.html %}
      <div class="content-container">

        <div class="portfolio">
          <h1 class="portfolio-title">
            {{ site.data.location.en.portfolio.title }}
            <hr class="portfolio-line" />
          </h1>

          <div class="portfolio-content">
            <div class="portfolio-item">
              <img class="portfolio-item-image" alt="img" src="media/portfolio/1.jpg">
              <div class="portfolio-item-hover">
                <a href="https://sofiagray.com/" target="_blank" class="portfolio-link">Visit website</a>
              </div>
            </div>
            <div class="portfolio-item">
              <img class="portfolio-item-image" alt="img" src="media/portfolio/2.jpg">
              <div class="portfolio-item-hover">
                <a href="https://www.xhibit.xyz/" target="_blank" class="portfolio-link">Visit website</a>
              </div>
            </div>
            <div class="portfolio-item">
              <img class="portfolio-item-image" alt="img" src="media/portfolio/3.jpg">
              <div class="portfolio-item-hover">
                <a href="https://panty.com/" target="_blank" class="portfolio-link">Visit website</a>
              </div>
            </div>
            <div class="portfolio-item">
              <img class="portfolio-item-image" alt="img" src="media/portfolio/4.jpg">
              <div class="portfolio-item-hover">
                <a href="https://cammingpro.com/" target="_blank" class="portfolio-link">Visit website</a>
              </div>
            </div>
            <div class="portfolio-item">
              <img class="portfolio-item-image" alt="img" src="media/portfolio/5.jpg">
              <div class="portfolio-item-hover">
                <a href="https://darkestfox.com/collections/lelo" target="_blank" class="portfolio-link">Visit website</a>
              </div>
            </div>
            <div class="portfolio-item">
              <img class="portfolio-item-image" alt="img" src="media/portfolio/6.jpg">
              <div class="portfolio-item-hover">
                <a href="https://justbbws.com/" target="_blank" class="portfolio-link">Visit website</a>
              </div>
            </div>
            <div class="portfolio-item">
              <img class="portfolio-item-image" alt="img" src="media/portfolio/7.jpg">
              <div class="portfolio-item-hover">
                <a href="https://justbang.com/" target="_blank" class="portfolio-link">Visit website</a>
              </div>
            </div>
            <div class="portfolio-item">
              <img class="portfolio-item-image" alt="img" src="media/portfolio/8.jpg">
              <div class="portfolio-item-hover">
                <a href="https://www.escort4berlin.de/en/" target="_blank" class="portfolio-link">Visit website</a>
              </div>
            </div>
            <div class="portfolio-item">
              <img class="portfolio-item-image" alt="img" src="media/portfolio/9.jpg">
              <div class="portfolio-item-hover">
                <a href="https://www.swingingheaven.co.uk/" target="_blank" class="portfolio-link">Visit website</a>
              </div>
            </div>
            <div class="portfolio-item flex-stub" style="height: 0;"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script id="links-generator">
    window.addEventListener('load', () => { 
      const setHoverSize = () => $('.portfolio-item').each((_, item) => {
        let element = item.querySelector('.portfolio-item-image')
        let hover = item.querySelector('.portfolio-item-hover')
        if (!hover) return

        hover.style.width = Math.ceil(element.clientWidth + 1) + 'px'
        hover.style.height = Math.ceil(element.clientHeight + 1) + 'px'
      })

      setHoverSize()

      $('.portfolio').resize(setHoverSize)

      // auto-erase the code from DOM
      document.querySelector('#links-generator').remove()
    })
  </script>
</body>
