---
layout: default
title: soft - services
page: '03'
---
<!-- <html>... -->
<body style="background-image: url('media/bg-services.png')">
  <div class="body-opasity">
    {% include header.html %}
    {% include navbar.html %}
    <div class="container-fluid services">
      <div class="row services-row-1">
        <div class="col-2"></div>
        <div class="col-4">
          <div class="services-col-1">
            <b>{{ site.data.location.en.services.h1 }}</b>
            {{ site.data.location.en.services.p-1 }}
            <div class="">
              <button class="main-header-contact-us-button solutions-contact-us-btn" onclick="location.href='contact-us.html'">{{ site.data.location.en.contact_us_btn }}</button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="services-btns-board">
            <div class="services-sales-and-marketing text-center">
              <img title="prev" class="services-imgs" src="media/services-sales-and-marketing.svg"/>
              <div class="services-text">{{ site.data.location.en.services.sales_and_marketing }}</div>
            </div>
            
            <div class="services-sales-and-marketing text-center">
              <img title="prev" class="services-imgs" src="media/services-sales-and-marketing.svg"/>
              <div class="services-text">{{ site.data.location.en.services.sales_and_marketing }}</div>
            </div>
            
            <div class="services-sales-and-marketing text-center">
              <img title="prev" class="services-imgs" src="media/services-sales-and-marketing.svg"/>
              <div class="services-text">{{ site.data.location.en.services.sales_and_marketing }}</div>
            </div>
            
            <div class="services-sales-and-marketing text-center">
              <img title="prev" class="services-imgs" src="media/services-sales-and-marketing.svg"/>
              <div class="services-text">{{ site.data.location.en.services.sales_and_marketing }}</div>
            </div>
            
            <div class="services-sales-and-marketing text-center">
              <img title="prev" class="services-imgs" src="media/services-sales-and-marketing.svg"/>
              <div class="services-text">{{ site.data.location.en.services.sales_and_marketing }}</div>
            </div>
            
            <div class="services-sales-and-marketing text-center">
              <img title="prev" class="services-imgs" src="media/services-sales-and-marketing.svg"/>
              <div class="services-text">{{ site.data.location.en.services.sales_and_marketing }}</div>
            </div>
            
            <div class="services-sales-and-marketing text-center">
              <img title="prev" class="services-imgs" src="media/services-sales-and-marketing.svg"/>
              <div class="services-text">{{ site.data.location.en.services.sales_and_marketing }}</div>
            </div>
            
            <div class="services-sales-and-marketing text-center">
              <img title="prev" class="services-imgs" src="media/services-sales-and-marketing.svg"/>
              <div class="services-text">{{ site.data.location.en.services.sales_and_marketing }}</div>
            </div>

          </div>          
        </div>
      </div>
    </div>
  </div>
</body>