---
layout: default
page: '03'
---
<!-- <html>... -->
<body style="background-image: url('media/bg-services.png')" id="services-body">
  <div class="wrap-container body-opasity">   
    {% include navbar.html %}
    <div class="main-container">
      {% include header.html %}
      <div class="content-container">

        <div class="services">
          <div class="services-col-1">
            <b>{{ site.data.location.en.services.h1 }}</b>
            {{ site.data.location.en.services.p-1 }}
            <div class="">
              <button class="contact-us-button services-contact-us-btn" onclick="location.href='contact-us.html'">{{ site.data.location.en.contact_us_btn }}</button>
            </div>
          </div>

          <div class="services-col-2">
            <div class="services-btns-board">
              <div class="services-btn text-center">
                <img class="services-website-dev-img services-imgs" src="../media/services-website-dev.svg"></img>
                <div class="services-text">{{ site.data.location.en.services.dev2 }}</div>
              </div>
              <div class="services-btn text-center">
                <img class="services-apps-img services-imgs" src="../media/services-apps.svg"></img>
                <div class="services-text">{{ site.data.location.en.services.apps }}</div>
              </div>
              <div class="services-btn text-center">
                <img class="services-support-and-maintenance-img services-imgs" src="../media/services-support-and-maintenance.svg">
                <div class="services-text">{{ site.data.location.en.services.support_and_maintenance }}</div>
              </div>
              <div class="services-btn text-center">
                <img class="services-logo-design-img services-imgs" src="../media/services-logo-design.svg"></img>
                <div class="services-text">{{ site.data.location.en.services.logo_design_and_branding }}</div>
              </div>
              <div class="services-btn text-center">
                <img class="services-design-img services-imgs" src="../media/services-design.svg"></img>
                <div class="services-text">{{ site.data.location.en.services.web_design }}</div>
              </div>
              <div class="services-btn text-center">
                <img class="services-sales-and-marketing-img services-imgs" src="../media/services-sales-and-marketing.svg"></img>
                <div class="services-text">{{ site.data.location.en.services.sales_and_marketing }}</div>
              </div>
              <div class="services-btn text-center">
                <img class="services-seo-img services-imgs" src="../media/services-seo.svg"></img>
                <div class="services-text">{{ site.data.location.en.services.seo }}</div>
              </div>
              <div class="services-btn text-center">
                <img class="services-content-writing-img services-imgs" src="../media/services-content-writing.svg"></img>
                <div class="services-text">{{ site.data.location.en.services.content_writing }}</div>
              </div>
              <div class="services-btn text-center">
                <img class="services-hz-img services-imgs" src="../media/services-hz.svg"></img>
                <div class="services-text">{{ site.data.location.en.services.hz }}</div>
              </div>
            </div>
            <div class="services-btn-down-mobile">
              <svg width="20" height="25" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8383 6.52017C10.2288 6.12964 10.862 6.12964 11.2525 6.52017C11.643 6.91069 11.643 7.54386 11.2525 7.93438L6.47979 12.7071C6.29225 12.8946 6.0379 13 5.77268 13C5.50747 13 5.25311 12.8946 5.06558 12.7071L0.292849 7.93438C-0.0976753 7.54386 -0.0976753 6.91069 0.292849 6.52017C0.683373 6.12964 1.31654 6.12964 1.70706 6.52017L5.77268 10.5858L9.8383 6.52017ZM9.8383 0.520166C10.2288 0.129642 10.862 0.129642 11.2525 0.520166C11.643 0.91069 11.643 1.54386 11.2525 1.93438L6.47979 6.70711C6.08927 7.09763 5.4561 7.09763 5.06558 6.70711L0.292849 1.93438C-0.0976763 1.54386 -0.0976763 0.91069 0.292849 0.520166C0.683372 0.129642 1.31654 0.129642 1.70706 0.520166L5.77268 4.58579L9.8383 0.520166Z" fill="#E1A200"/>
              </svg>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
