---
layout: default
title: soft - solutions
page: '04'
---
<!-- <html>... -->
<body style="background-image: url('media/bg-solutions.png')" id="solutions-body">
  <div class="wrap-container body-opasity">   
    {% include navbar.html %}
    <div class="main-container">
      {% include header.html %}
      <div class="content-container">

        <div class="solutions">
          <div class="solutions-col-1">
            <div class="solutions-title">
              {{ site.data.location.en.solutions.title }}
            </div>
            <hr class="solutions-line"/>
            <b>{{ site.data.location.en.solutions.h2 }}</b>
            <p>{{ site.data.location.en.solutions.p-2 }}</p>
            <button class="contact-us-button solutions-contact-us-btn" onclick="location.href='contact-us.html'">{{ site.data.location.en.contact_us_btn }}</button>
          </div>
          <div class="solutions-col-2">
            {% include solutions-carousel.html %}
          </div>
        </div>

      </div>
    </div>
  </div>
</body>