---
layout: default
page: '05'
permalink: /solutions
---
<!-- <html>... -->
<body style="background-image: url('media/bg-solutions.png')" id="solutions-body">
  <div class="wrap-container body-opasity">   
    {% include navbar.html %}
    <div class="main-container">
      {% include header.html %}
      <div class="content-container">

        <div class="solutions">
          <div class="solutions-col-1">
            <h1 class="solutions-title">
              {{ site.data.location.en.solutions.title }}
            </h1>
            <hr class="solutions-line"/>

            {% for i in (1..6) %}
              {% assign h = "h2-" | append: i %}
              {% assign p = "p-2-" | append: i %}
              <div class="text text-{{i}}">
                <b>{{ site.data.location.en.solutions[h] }}</b>
                <p>{{ site.data.location.en.solutions[p] }}</p>
              </div>
            {% endfor %}
            <button class="contact-us-button solutions-contact-us-btn" onclick="location.href='contact-us.html'">{{ site.data.location.en.contact_us_btn }}</button>
          </div>
          <div class="solutions-col-2">
            {% include solutions-carousel.html %}
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
