<div id="carouselMainPage" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-item1 text-center">
        <img title="prev" class="services-imgs" src="media/services-sales-and-marketing.svg"/>
        <div class="services-text">{{ site.data.location.en.services.sales_and_marketing }}</div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-item1 text-center">
        <img title="prev" class="services-imgs" src="media/services-design.svg"/>
        <div class="services-text">{{ site.data.location.en.services.design }}</div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-item1 text-center">
        <img title="prev" class="services-imgs" src="media/services-web-and-app.svg"/>
        <div class="services-text">{{ site.data.location.en.services.dev }}</div>
      </div>  
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="carousel-control1">
        <a class="carousel-control-next-btn" href="#carouselMainPage" data-slide="prev">
          <img width="30px" height="30px" title="prev" class="" src="media/button-arrow-left.svg"/>
        </a>
        <a class="carousel-control-prev-btn" href="#carouselMainPage" role="button" data-slide="next">
          <img width="30px" height="30px" title="next" class="carousel-control-next1" src="media/button-arrow-left.svg"/>
        </a>
      </div>
    </div>
  </div>
</div>