<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-item1 text-center">
        <img title="prev" class="services-imgs" src="media/services-sales-and-marketing.svg"/>
        <div class="services-text">Sales and Marketing</div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-item1 text-center">
        <img title="prev" class="services-imgs" src="media/services-design.svg"/>
        <div class="services-text" style="margin-top:-5px">Design</div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-item1 text-center">
        <img title="prev" class="services-imgs" src="media/services-web-and-app.svg"/>
        <div class="services-text">Web anp App development</div>
      </div>  
    </div>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="carousel-control1">
        <a class="carousel-control-prev-div" href="#carouselExampleControls" data-slide="prev">
          <img width="25px" height="25px" title="prev" class="" src="media/button-arrow-left.svg"/>
        </a>
        <a class="carousel-control-next-div" href="#carouselExampleControls" role="button" data-slide="next">
          <img width="25px" height="25px" title="next" class="carousel-control-next1" src="media/button-arrow-left.svg"/>
        </a>
      </div>
    </div>
  </div>
</div>