<header class="main-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8"></div>
      <div class="main-header-social-buttons col-2 text-center">
        <img src="media/instagram-icon.svg" alt="instagram" />
        <img src="media/facebook-icon.svg" alt="facebook" />
        <img src="media/in-icon.svg" alt="in" />
      </div>
      <div class="col-2">
        <button class="main-header-contact-us-button" onclick="location.href='contact-us.html'">{{ site.data.location.en.contact_us }}</button>
      </div>
    </div>
  </div>
</header>