<nav>
  <div class="navbar-logo-block" >
    <img src="media/logo.svg" alt="logo" class="navbar-main-logo" />
  </div>
  <input type="image" title="boo" class="navbar-button-hide" src="media/button-arrow-left.svg"/>
  <hr class="navbar-line"/>
  <ul class="navbar-links">
    <li class="nav-item">
      <a class="nav-link" href="/">{{ page.en.navbar.home }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">{{ page.en.navbar.about }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">{{ page.en.navbar.services }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">{{ page.en.navbar.solutions }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">{{ page.en.navbar.approach }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">{{ page.en.contact_us }}</a>
    </li>
  </ul>
  <hr class="navbar-line-2"/>
  <div class="navbar-counter">01</div>
</nav>