<script>document.write('<div class="navbar-container ' + sessionStorage.getItem("navbar") + '">')</script>
  <nav>
    <div class="navbar-logo-block" onclick="location.href='/'">
      <img src="media/logo.svg" alt="logo" class="navbar-main-logo"/>
    </div>

    <svg title="minimise" class="navbar-button-hide" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M19.0911 12.7273L14.3184 17.5L19.0911 22.2727" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <circle cx="17.5" cy="17.5" r="16.5" stroke="#E1A200" stroke-width="2"/>
    </svg>

    <hr class="navbar-line"/>
    <ul class="navbar-links">
      {% for item in site.data.navigation %}
        <li class="navbar-item-{{ item.lname }}">
          <a class="navbar-link navbar-link-{{ item.lname }}" href="{{ item.link }}" 
          {% if page.url == item.link %}
          style="color: white;"
          {% endif %}>{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="navbar-line-2-flex">
      <div class="navbar-line-2-block">
        <hr class="navbar-line-2"/>
        <div class="navbar-counter">{{ page.page }}</div>
      </div>
    </div>
  </nav>
</div>
