<div id="solutionsCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      
    <div class="carousel-item active">
      <img src="http://placehold.it/350x150">
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/350x150">
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/350x150">
    </div>

  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="carousel-control1">
        <a class="carousel-control-prev-div" href="#solutionsCarousel" data-slide="prev">
          <img width="30px" height="30px" title="prev" class="" src="media/button-arrow-left.svg"/>
        </a>
        <a class="carousel-control-next-div" href="#solutionsCarousel" role="button" data-slide="next">
          <img width="30px" height="30px" title="next" class="carousel-control-next1" src="media/button-arrow-left.svg"/>
        </a>
      </div>
    </div>
  </div>
</div>