<div id="solutionsCarousel" class="carousel fade" data-ride="carousel">
  <div class="carousel-inner">
      
    <div class="carousel-item active">
      <img src="../media/solutions-moc-date.png">
    </div>
    <div class="carousel-item">
      <img src="../media/solutions-moc-ecommerce.png">
    </div>
    <div class="carousel-item">
      <img src="../media/solutions-moc-escort-agency.png">
    </div>
    <div class="carousel-item">
      <img src="../media/solutions-moc-live-webcam-streaming.png">
    </div>
    <div class="carousel-item">
      <img src="../media/solutions-moc-sex-chats.png">
    </div>
    <div class="carousel-item">
      <img src="../media/solutions-moc-video-sharing.png">
    </div>

  </div>
  <div class="row">
    <div class="col">
      <div class="carousel-control1">
        <a class="carousel-control-prev-div" href="#solutionsCarousel" data-slide="prev">
          <img width="30px" height="30px" title="prev" class="" src="media/button-arrow-left.svg"/>
        </a>
        <a class="carousel-control-next-div" href="#solutionsCarousel" role="button" data-slide="next">
          <img width="30px" height="30px" title="next" class="carousel-control-next1" src="media/button-arrow-left.svg"/>
        </a>
      </div>
    </div>
  </div>
</div>