/*Default*/
body {
  background-size: 120% auto;
  background-position: center right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
  color: #FFF;
  font-family: 'Montserrat';
  letter-spacing: 0.04em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a:hover, .carousel a {
  text-decoration: none;
}

:focus {
  outline: none;
}

/*input:required:valid {
border-color: green;
}*/

button:focus {
  outline: none;
}

#pop {
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 50px;
  border-radius: 5px;
  padding: 20px;
  animation-name: pulseError2;
  animation-duration: 5s;
  opacity: 0;
}

.text {
  display: none;
  animation-name: appear;
  animation-duration: 1s;
}

#notify {
  padding: 10px;
  width: auto;
  color: #fff;
  display: block;
  position: absolute;
  opacity: 0;
  margin-left: 300px;
  margin-top: 50px;
  border-radius: 5px;
  font-size: 14px;
  max-width: 300px;
}

#notify.error {
  background-color: rgba(100,100,100,0.8);
  animation-name: pulseError;
  animation-duration: 2s;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes pulseError {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulseError2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

/*Body*/
.body-opasity {
  background-color: rgba(0,0,0,0.4);
}

.wrap-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100vh;
  overflow: auto;
}

.navbar-container {
  order: 1;
  background: #141520;
  transition: width 0.5s;
  width: 248px;
}

.main-container {
  display: flex;
  flex-direction: column;
  order: 2;
  flex: 1;
}

.content-container {
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/*Header*/
.main-header {
  text-align: right;
  background-color: #FFFFFF;
  /*height: 6vh;*/
  height: 57px;
  padding-right: 6vw;
}

.main-header .open-navbar-btn {
  color: #FFF;
  margin-left: 15px;
  font-size: 35px;
  /*display: flex; */
  display: none;
  float: left;
  background: none;
  border: none;
  transform: rotate(90deg);
}

.contact-us-button {
  cursor: pointer;
  background: none;
  border: 2px solid #E1A200;
  border-radius: 29.5px;
  color: #E1A200;
  height: 34px;
  width: 161px;

  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: 0.3s;
}

.contact-us-button:hover {
  background-color: #E1A200;
  color: #fff;
  transition: 0.3s;
}

.main-header-social-buttons {
  height: 24.58px;
  top: 16px;
  left: 67px;
}

.main-header-contact-us-button {
  margin-top: 9px;
}

.main-header-mobile, .main-logo-mobile {
  display: none;
}

/*Social btns*/
.social-btns {
  display: inline-block;
  margin: 16px 10px 16px 0px;
}

.social-btns a:first-child {
  margin-right: 12px;
}

.social-btns a:last-child {
  margin-left: 12px;
}

.social-instagram-link { content: url('../media/social-instagram-icon.svg') }
.social-instagram-link:hover { content: url('../media/social-instagram-icon-hover.svg') }
.social-facebook-link { content: url('../media/social-facebook-icon.svg') }
.social-facebook-link:hover { content: url('../media/social-facebook-icon-hover.svg') }
.social-in-link { content: url('../media/social-in-icon.svg') }
.social-in-link:hover { content: url('../media/social-in-icon-hover.svg') }
.social-ico {
  height: 25px;
  width: 25px;
}

/*Navbar / Navigation / Links*/
.navbar-logo-block {
  cursor: pointer;
  height: 57px;
  background: #E1A200;
}

.navbar-main-logo {
  position: relative;
  top: 11px;
  left: 91px;
  height: 27px;
  transition: 0.5s;
}

.navbar-button-hide {
  cursor: pointer;
  position: relative;
  width: 33px;
  height: 33px;
  left: 80px;
  top: 46px;
  transition: 0.5s;
  stroke: #E1A200;
  border-radius: 50%;
}

.navbar-button-hide:hover {
  background-color: #E1A200;
  border-radius: 50%;
  stroke: #fff;
}

.navbar-line {
  position: relative;
  width: 86px;
  height: 1px;
  top: 75px;
  background: #E1A200;
  transition: 0.5s;
}

.navbar-links {
  position: absolute;
  width: 121px;
  height: 387px;
  left: 81px;
  top: 213px;
  font-style: normal;
  font-weight: 500;
  line-height: 59px;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #FFFFFF;

  transition: 0.5s;
}

.navbar-links .navbar-link{
  color: #E1A200;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

.navbar-links .navbar-link:hover {
  color: #FFFFFF;
}

.navbar-line-2-flex {
  display: flex;
  align-items: center;
  position: relative;
  height: 28vh;
  top: 490px;
}

.navbar-line-2-block {
  width: 100%;
  position: relative;
}

.navbar-line-2 {
  display: inline-block;
  position: inherit;
  height: 86px;
  width: 2.3px;
  left: 81px;
  top: 20px;
  background: #E1A200;
  border-radius: 12px;
  transition: 0.5s;
  overflow: hidden;
}

.navbar-counter {
  position: relative;
  width: 18px;
  height: 16px;
  top: 5px;
  left: 73px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  transform: rotate(-90deg);
  transition: 0.5s;
}

/*Navbar hide / mini*/
.navbar-hide {
  width: 150px !important;
  transition: 0.5s;
}

@keyframes pulse {
  0% {
    height: 27px;
  }
  100% {
    height: 28px;
  }
}

.navbar-hide .navbar-main-logo {
  transition: 0.5s;
  top: 11px;
  left: 38px;
  height: 27px;
  animation: pulse 1s infinite alternate;
}

.navbar-hide .navbar-button-hide {
  left: 59px;
  transform: rotate(180deg);
  transition: 0.5s;
}

.navbar-hide .navbar-line {
  width: 100%;
  height: 1px;
  left: 0px;
  transition: 0.5s;
}

.navbar-hide .navbar-links {
  left: 60px;
  transition: 0.5s;
}

.navbar-hide .navbar-links .navbar-link:hover {
  color: rgba(0,0,0,0);
  transition: 0.2s;
}

.navbar-hide .navbar-links .navbar-link{
  color: rgba(0,0,0,0);
  transition: 0.2s;
}

.navbar-hide .navbar-link-home {
  content: url('../media/navbar-home.svg');
  transition: 0.5s;
}

.navbar-hide .navbar-link-home:hover {
  content: url('../media/navbar-home-hover.svg');
  transition: 0.5s;
}

.navbar-hide .navbar-link-about {
  margin-left: -3px;
  content: url('../media/navbar-about.svg');
}

.navbar-hide .navbar-link-about:hover {
  content: url('../media/navbar-about-hover.svg');
}

.navbar-hide .navbar-link-services {
  content: url('../media/navbar-services.svg');
}

.navbar-hide .navbar-link-services:hover {
  content: url('../media/navbar-services-hover.svg');
}

.navbar-hide .navbar-link-solutions {
  content: url('../media/navbar-solutions.svg');
}

.navbar-hide .navbar-link-solutions:hover {
  content: url('../media/navbar-solutions-hover.svg');
}

.navbar-hide .navbar-link-approach {
  content: url('../media/navbar-approach.svg');
}

.navbar-hide .navbar-link-approach:hover {
  content: url('../media/navbar-approach-hover.svg');
}

.navbar-hide .navbar-link-contact-us {
  content: url('../media/navbar-contact-us.svg');
}

.navbar-hide .navbar-link-contact-us:hover {
  content: url('../media/navbar-contact-us-hover.svg');
}

.navbar-hide .navbar-link-leadership {
  content: url('../media/navbar-leadership.svg');
}

.navbar-hide .navbar-link-leadership:hover {
  content: url('../media/navbar-leadership-hover.svg');
}

.navbar-hide .navbar-line-2 {
  left: 73px;
  transition: 0.5s;
}

.navbar-hide .navbar-counter {
  left: 64px;
  transition: 0.5s;
}

/*Alt navbar*/
.alt-navbar {
  width: 250px;
  height: 150%;
  background-color: #0E0E0E;
  position: fixed;
  z-index: 4;
  left: 0px;
  transition: 0.5s;
}

.alt-navbar.hide{
  left: -250px;
  transition: 0.5s;
}

/*Index content*/
/*.index {}*/

.index-row-1 {
  margin-bottom: 17vh;
}

.index-row-1 h1 {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 40px;
  letter-spacing: 0.03em;

  margin-bottom: 3vh;
}

.index-row-1 p {
  margin-bottom: 5vh;
}

.index-title-2 {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 21px;
}

.index-title-1 {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 40px;
  letter-spacing: 0.05em;
}

.index-row-2 {
  width: 440px;
}

/*.index-carousel {
position: relative;
left: -233px;
}*/

/*Index carousel*/
.index-row-our-services {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.carousel-item1 {
  float: right;
  width: 215px;
  height: 125px;
  border: 2px solid #E1A200;
  border-radius: 7px;
  margin: 6px;
}

#carouselMainPage.carousel {
  width: 681px;
}

#carouselMainPage .carousel-inner {
  margin-left: -5px;
  z-index: -1;
}

#carouselMainPage svg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.3s;
  stroke: #E1A200;
}

#carouselMainPage svg:hover {
  background-color: #E1A200;
  transition: 0.3s;
  border-radius: 50%;
  stroke: #fff;
}

.carousel-control1 {
  margin-top: 10px;
}

.carousel-control-next1 {
  margin-left: 10px;
  transform: rotate(180deg);
}

.services-imgs {
  margin-top: 22px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 52px;
  stroke: #E1A200;
}

.services-text {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 13px;
  color: #FFFFFF;
}

#carouselMainPage .carousel-inner .carousel-item-right.active,
#carouselMainPage .carousel-inner .carousel-item-next {
  transform: translateX(-33.33%);
}

#carouselMainPage .carousel-inner .carousel-item-left.active,
#carouselMainPage .carousel-inner .carousel-item-prev {
  transform: translateX(33.33%)
}

#carouselMainPage .carousel-inner .carousel-item-right,
#carouselMainPage .carousel-inner .carousel-item-left{
  transform: translateX(0);
}

/*About*/
.about {
  display: flex;
  align-items: stretch;

  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 18px;
  text-align: justify;
  line-height: 150%;
}

.about-col-1, .about-col-2 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 2vw;
}

.about b {
  display: block;
  margin-bottom: 3vh;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 54px;
  font-size: 30px;
}

.about-contact-us-btn {
  display: block;
  margin-top: 5vh;
}

#aboutCarousel .carousel-inner {
  border-radius: 6px;
  max-width: 676px;
}

#about-line-animation {
  position: absolute;
  z-index: 1;
  stroke-dasharray: 2260;
  stroke-dashoffset: 2260;
  animation: dash 1s linear forwards;
  left: 0;
  stroke: #E1A200;
  fill: none;
  stroke-width: 3px;
  max-width: 676px;
  transform: rotate(180deg);
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes appear {
  from {opacity: 0}
  to {opacity: 1}
}

/*About carousel*/
#aboutCarousel .slide {
  max-width: 100%;
}

.about-carousel-prev-col {
  margin-left: -3vw;
  align-self: center;
  display: block;
}

.about-carousel-prev-col img {
  position: relative;
}

.about-carousel-next-col {
  margin-right: -3vw;
  display: block;
  align-self: center;
}

.about-carousel-next-col img {
  position: relative;
  transform: rotate(180deg);
}

#aboutCarousel .about-btns {
  display: inline-block;
  z-index: 2;
}

#aboutCarousel .carousel-indicators {
  display: inline-block;
  position: inherit;
  margin: 30px 15px 0px 25px;
  width: 100px;
  color: #E1A200;
}

#aboutCarousel .carousel-indicators div {
  margin: 5px;
  display: inline;
}

#aboutCarousel .carousel-indicators .active {
  background: none;
  color: #FFF;
}

.about-carousel-control-prev-btn {
  display: inline;
  width: 30px;
}

.about-carousel-control-next-btn {
  display: inline;
  width: 30px;
  transform: rotate(180deg);
}

.about-carousel-control-next-btn svg {
  transform: rotate(180deg);
}

#aboutCarousel .about-btns svg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.3s;
  stroke: #E1A200;
}

#aboutCarousel .about-btns svg:hover {
  background-color: #E1A200;
  transition: 0.3s;
  border-radius: 50%;
  stroke: #fff;
}

/*Services*/
#services-body .content-container {
  padding-right: 3vw;
}

.services-btn-down-mobile {
  display: none;
}

.services {
  display: flex;
  align-items: stretch;
  flex: 1;

  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 18px;
  text-align: justify;
}

.services-col-1 {
  padding: 0px 30px 0px 0px;
  flex: 2;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
}

.services-col-2 {
  min-width: 425px;
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services b {
  display: block;
  margin-bottom: 3vh;
  font-style: normal;
  font-weight: bold;
  line-height: 47px;
  font-size: 35px;
  letter-spacing: 0.03em;
}

.services-btns-board {
  min-width: 633px;
  width: 633px;
  box-sizing: border-box;
}

.services-btn {
  float: left;
  width: 210.5px;
  height: 145px;
  border: 2px solid rgba(0,0,0,0);
}

.services-btn .services-imgs {
  margin-top: 30px;
}

.services-btn:hover {
  border: 2px solid #E1A200;
  border-radius: 10px;
}

.services-contact-us-btn {
  margin-top: 5vh;
}

/*Solutions*/
.solutions {
  display: flex;
  align-items: stretch;
  flex: 1;

  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 18px;
  text-align: justify;
}

.solutions-col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.solutions-col-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.solutions-title {
  font-style: normal;
  font-weight: bold;
  line-height: 54px;
  font-size: 40px;
  letter-spacing: 0.03em;
}

.solutions-line {
  opacity: 0.9;
  border: 2px solid #E1A200;
  margin-left: 0px;
  width: 187px;
  border-radius: 2px;
  margin-bottom: 5vh;
}

.solutions b {
  margin-top: 5vh;
  margin-bottom: 3vh;
  display: block;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  font-size: 25px;
  letter-spacing: 0.03em;
}

.solutions p {
  padding-right: 4vw;
}

.solutions .text {
  display: none;
}

.solutions-contact-us-btn {
  display: block;
  margin-left: 0px;
  margin-top: 10vh;
}

.solutions-animations-line {
  position: absolute;
  width: 179%;
  top: 4vh;
  left: 12%;

  stroke-dasharray: 3000;
  stroke-dashoffset: 4500;
  animation: dash2 1.5s linear forwards;

  stroke: #E1A200;
  fill: none;
  stroke-width: 2px;
}


@keyframes dash2 {
  to {
    stroke-dashoffset: 0;
  }
}

/*Solutions carousel*/
#solutionsCarousel.carousel {
  opacity: 1;
}

#solutionsCarousel .carousel-inner img {
  width: 120%;
}

#solutionsCarousel .carousel-control1 {
  margin-top: 70%;
  z-index: 1;
  margin-left: 20%;
}

#solutionsCarousel .carousel-inner {
  overflow: unset;
}

#solutionsCarousel.carousel .carousel-item {
  left: -10%;
  display: inline-block;
  position: absolute;
  opacity: 0;
  transition: all 1s ease-out;
}

#solutionsCarousel.carousel .carousel-item.active {
  opacity: 1;
  transition: all 1s ease-out;
}

#solutionsCarousel .carousel-control1 svg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.3s;
  stroke: #E1A200;
}

#solutionsCarousel .carousel-control1 svg:hover {
  background-color: #E1A200;
  transition: 0.3s;
  border-radius: 50%;
  stroke: #fff;
}

#solutionsCarousel .carousel-indicators {
  display: none;
}

/*Approach*/
.approach {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 18px;
  text-align: justify;
}

.approach-row-1 {
  padding-left: 2%;
}

.approach-title {
  font-style: normal;
  font-weight: bold;
  line-height: 43px;
  font-size: 32px;
}

.approach-title span {
  font-style: normal;
  font-weight: bold;
  line-height: 47px;
  font-size: 35px;
  text-transform: uppercase;
  color: #E1A200;
}

.approach-row-2 {
  display: flex;
  flex-wrap: wrap;
}

.approach-block {
  flex-basis: 420px;
  flex-grow: 1;
  padding: 2%;
}

.approach-row-2 img { margin: 15px }

.approach-row-2 b {
  display: inline-block;
  padding-bottom: 15px;
  vertical-align: bottom;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  font-size: 20px;
  letter-spacing: 0.03em;
}

/*Contact us*/
.contact-us {
  display: flex;
  align-items: stretch;
  flex: 1;
  justify-content: center;

  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 18px;
  text-align: justify;
}

.contact-us-col-1 {
  min-width: 555px;
  margin: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us-block {
  width: 555px;
  height: 729px;
  border: 2px solid #E1A200;
  box-sizing: border-box;
  border-radius: 10px;
}

.contact-us-title {
  margin-bottom: 52px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 35px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 71px;
  margin-left: 63px;
}

.contact-us-input {
  padding: 21px;
  margin: 0px 38px 34px 68px;
  color: #FFF;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #E1A200;
  border-radius: 10px;
  width: 420px;
  height: 49px;
  border: 1px solid #E1A200;
  border-radius: 10px;
}

.contact-us-input:invalid {
  /*border: none;*/
}

.contact-us-input:focus {
  background: rgba(255, 255, 255, 0.03);
  border-color: #FFF;
}

.contact-us-input.message {
  max-height: 129px;
  min-height: 129px;
}

.contact-us-label {
  margin: 0px 0px 11px 89px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 21px;
  text-transform: uppercase;
  color: #FFF;
}

.contact-us-send-btn {
  margin: 13px 0px 0px 68px;
  width: 420px;
  height: 49px;
  background: #E1A200;
  border: 1px solid #E1A200;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contact-us-send-btn {
  cursor: pointer;
}

.contact-us-line-1 {
  display: none;
}

.contact-us-col-2 {
  flex: 1;
  padding: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-us-col-2 span {
  display: inline-block;
  margin-bottom: 1vh;
}

.contact-us p {
  font-weight: bold;
  line-height: 51px;
  font-size: 35px;
  letter-spacing: 0.05em;
  text-align: left;
}

.contact-us-col-2 b {
  display: inline-block;
  margin-bottom: 1vh;
  font-style: normal;
  font-weight: bold;
  line-height: 37px;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0.03em;
}

.contact-us-opacity {
  opacity: 0.6;
  margin-bottom: 3vh;
}

.contact-us-line {
  border: 1px solid #E1A200;
  margin: 5vh 0px 5vh 0px;
}

.contact-us-social {
  margin-top: -1vh;
}

.contact-us-social .social-ico {
  height: 45px;
  width: 45px;
}

@media screen and (max-height: 768px) {
  .navbar-line-2-flex {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  body {
    background-position: 63% 50%;
    background-size: auto auto;
  }

  header {
    z-index: 5;
  }

  .contact-us-button {
    color: #E1A200;
    height: 43px;
  }

  /*Alt navbar*/
  .navbar-logo-block {
    height: 57px;
    background: none;
  }

  .alt-navbar .open-navbar-btn {
    color: #FFF;
    margin-left: 15px;
    font-size: 35px;
    margin-top: -13px;
    float: left;
    background: none;
    border: none;
    transform: rotate(90deg);
  }

  .navbar-button-hide, .navbar-line  {
    display: none;
  }

  .navbar-links {
    position: relative;
    left: 60px;
    top: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: 59px;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    transition: 0.5s;
  }

  /*Index*/
  .index-row-2 {
    zoom: 0.95 !important;
    margin-bottom: 10vh;
  }

  .navbar-container, .main-header-contact-us-button,
  .main-header .social-btns {
    display: none;
  }

  .main-header {
    background: #202020;
    display: flex;
    justify-content: space-between;
  }

  .main-header .open-navbar-btn{
    display: flex;
  }

  .main-header-mobile {
    display: inline-block;
    margin: 10px 0px 0px 10px;
  }

  .main-logo-mobile {
    margin: 13px 10px 13px 77px;
    display: block;
  }

  .none-background {
    background: none;
  }

  /*About*/
  #about-body .content-container {
    padding: 0;
    flex: 1;
    display: flex;
    overflow: hidden;
  }

  #about-body {
    background: none;
    background-color: #000;
  }

  .about {
    flex-direction: column-reverse !important;
    align-items: unset !important;
  }

  .about-col-1, .about-col-2 {
    display: flex;
    /*align-items: flex-start;*/
    /*flex-direction: column;*/
    /*flex: 1;*/
    /*height: auto;*/
    padding: 0px;
    justify-content: flex-start;
    text-align: left !important;
  }

  .about-col-1 {
    padding: 3vh;
    background: #FFF;
    color: #000;
    font-size: 22px;
    text-align: justify !important;
  }

  /*.about-col-2 { }*/

  .about-contact-us-btn {
  }

  .about-carousel-prev-col, .about-carousel-next-col {
    display: none;
  }

  .about-col-1, .about-col-2 {
    max-width: 133.333vw !important;
  }

  .about-col-2 {
    max-height: 55vh !important;
  }

  #aboutCarousel .carousel-inner {
    border-radius: 0px;
    max-width: 133.333vw;
    overflow: hidden;
    max-width: auto !important;
  }

  #aboutCarousel .slide {
    min-height: 50vh;
    width: 100%;
    min-width: 675px;
  }

  /*#aboutCarousel img { }*/

  .about-carousel-control-prev-btn {
    display: none;
  }

  .carousel-indicators div {
    content: url();
    background: rgba(255,255,255,0.6);
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  #aboutCarousel .carousel-indicators .active {
    background: rgba(100,100,100,0.6);
  }

  #aboutCarousel .about-btns {
    margin-top: -70px;
  }

  .about-carousel-control-next-btn {
    position: relative;
    top: -45px;
    left: -115px;
  }

  #about-line-animation {
    display: none !important;
  }

  /*Services*/
  #services-body .content-container {
    padding: unset;
    align-items: flex-start;
  }

  #services-body {
    background-image: unset !important;
  }

  .services {
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column-reverse;
    flex: 1;

    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 18px;
    text-align: justify;
  }

  .services-btn {
    margin: 2px;
    float: unset;
    width: calc(50% - 4px);
    /*border: unset;*/
    height: 196px;
  }

  .services-btn:last-child {
    display: none;
  }

  .services .services-imgs {
    height: 90px;
  }

  .services .services-text {
    font-size: 16px;
  }

  .services-mask .block-2{
    display: inline-block;
    width: 46px;
    height: 20px;
    margin-top: 20px;
    clip-path: polygon(50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
    background-color: #fff;
  }

  .services-mask .block-1{
    background-color: #fff;
    flex: 1;
  }

  .services-col-1 {
    padding: 6vh 3vh 3vh 3vh;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: flex-start;
  }

  .services-col-2 {
    zoom: 0.75;
    min-height: 860px;
    max-height: 860px;
    min-width: unset;
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: -400px;
    transition: 1s;
  }

  .services-col-2.down {
    margin-top: 0px;
    transition: 1s;
  }

  .services-btn-down-mobile.down {
    top: 905px;
    transform: rotate(180deg);
    transition: 1s;
  }

  .services-btns-board {
    width: 177.9vw;
    height: unset;
    border: unset;
    border-radius: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .services-contact-us-btn {
    margin-top: 10vh;
  }

  .services-btn-down-mobile {
    position: absolute;
    top: 505px;
    margin: 0 auto 0 auto;
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: 1s;
    background-color: #000;
  }

  .services-btn-down-mobile svg {
    position: inherit;
    left: 21px;
    top: 18px;
  }

  /*Solutions*/
  #solutions-body {
    background-image: none !important;
  }

  #solutions-body .content-container {
    padding: unset;
    align-items: flex-start;
  }

  .solutions {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
  }

  .solutions-col-1 {
    background-color: #fff;
    color: #000;
    padding: 3vh;
  }

  .solutions-col-2 {
    margin-top: 6vh;
    margin-bottom: 11vh;
  }

  .solutions-title, .solutions-line {
    display: none;
  }

  .solutions b {
    margin-top: 5vh;
    margin-bottom: 3vh;
    display: block;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    font-size: 25px;
    letter-spacing: 0.03em;
  }

  .solutions p {
    padding-right: 0;
  }

  /*Solutions carousel*/
  #solutionsCarousel .carousel-inner img {
    /*width: 100%;*/
  }

  #solutionsCarousel .carousel-control1 {
    margin-top: 75%;
    margin-left: 30px;
    margin-bottom: 5vh;
  }

  #solutionsCarousel .carousel-control1 a {
    visibility: hidden;
  }

  #solutionsCarousel .carousel-inner {
    width: 120%;
  }

  #solutionsCarousel.carousel .carousel-item {
    /*left: -10%;*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*opacity: 0;*/
    /*transition: all 1s ease-out;*/
  }

  #solutionsCarousel.carousel .carousel-item.active {
    /*opacity: 1;*/
    /*transition: all 1s ease-out;*/
  }

  #solutionsCarousel .carousel-indicators {
    width: 150px;
    display: flex;
    justify-content: space-around;
    margin-left: 95px;
  }

  #solutionsCarousel .carousel-indicators div {
    height: 8px;
    width: 8px;
  }

  /*Contact us*/
  .contact-us-title {
    margin-bottom: 6vh;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 35px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 9vh;
    margin-left: 15vw;
  }

  #contact-us-body .content-container {
    padding: 0;
  }

  .contact-us-col-1 {
    min-width: unset;
    width: 90%;
    margin: 0;
  }

  .contact-us-block {
    width: 100%;
    height: auto;
    border: none;
  }

  .contact-us-input {
    width: 100%;
    height: 60px;
    margin: 0px 7vw 5vh 7vw;
  }

  .contact-us-label {
    display: none;
  }

  .contact-us-send-btn {
    margin: 2vh 0px 0px 7vw;
    width: 100%;
    font-size: 18px;
    height: 60px;
  }

  .contact-us-line-1 {
    margin-top: 7vh;
    display: block;
    width: 120%;
    height: 2px;
    background-color: #E1A200;
  }

  .contact-us-freud-quote {
    display: none;
  }

  .contact-us-col-2 {
    padding-top: 3vh;
  }

  .contact-us-social .social-ico {
    width: 40px;
    height: 40px;
  }

  .social-btns a:first-child {
    margin-right: 18px;
  }

  .social-btns a:last-child {
    margin-left: 18px;
  }
}

/*Leadership*/
.leadership {
  width: 100%;
}

.leadership-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 47px;
  text-align: justify;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.leadership-description {
  width: 680px;
  height: 62px;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 31px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 74px;
}

.leadership-content {
  display: flex;
  flex-wrap: wrap;
}

.leadership-item {
  width: 278px;
  height: 338px;
  background: #1B1C2B;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leadership-item-name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-top: 18px;
}

.leadership-item-position {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 965px) {
  .leadership-item {
    margin-bottom: 40px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 700px) {
  .leadership-title {
    text-align: center;
  }
  .leadership-description {
    width: 90%;
    margin: 0 auto 70px;
  }

  .leadership-content {
    justify-content: center;
  }
}

@media screen and (max-width: 1100px) {
  .index .contact-us-button {
    height: 43px;
  }

  /*About*/
  .about {
    flex: 1;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
  }

  .about-carousel-prev-col, .about-carousel-next-col {
    display: none;
  }

  .about-col-1 {
    max-width: 676px;
  }

  .about-col-2 {
    max-width: 676px;
    max-height: 65vh;
    text-align: center;
  }

  #aboutCarousel .carousel-inner {  }

  /*Services*/
  .services {
    display: flex;
    align-items: unset;
    flex: 1;
    height: 100%;
    flex-direction: column-reverse;
  }

  .services-col-1 {
    padding-bottom: 10vh;
  }

  /*Solutions*/
  .solutions {
    display: flex;
    align-items: unset;
    flex: 1;
    height: 100%;
    flex-direction: column-reverse;
  }

  .solutions-col-2 {
    margin-bottom: 10vh;
  }

  /*Contact us*/
  .contact-us {
    flex-direction: column;
  }
}

@media screen and (max-width: 1366px), (max-height: 768px) {
  .navbar-container, .main-container {
    zoom: 0.75 !important;
  }

  #index-body { }
}

@media screen and (max-aspect-ratio: 8/5) {
  body {
    background-size: auto 100%;
  }
}
